:root {
    --color-palette-black: rgb(4, 20, 31);
    --color-palette-dark-blue: rgb(7, 34, 54);
    --color-palette-orange: rgb(213, 160, 33);
    --color-palette-white: rgb(237, 231, 217);

    /* Dragnethar Color */
    --Dragnethar-accent: rgb(191, 180, 143);
    --Dragnethar-background: rgb(20, 52, 74);
    --Dragnethar-blue: rgb(0, 19, 46);

}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--color-palette-black);
    color: var(--color-palette-white);
    font-family: "Poppins";
    font-weight: 400;
}
  
p {
    margin: 0;
    text-align: justify;
}

.is-container {
    min-height: 100vh;
    display: grid;
    justify-items: center;
    align-content: center;
}

nav {
    position: fixed;
    width: 100%;
    background: var(--color-palette-black);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent; 
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-palette-orange);
    border-radius: 5px;
}