:root {
    --color-palette-black: rgb(21, 23, 26);
    --color-palette-dark-blue: rgb(52, 58, 64);
    --color-palette-orange: rgb(233, 236, 239);
    --color-palette-white: rgb(237, 231, 217);

    /* Dragnethar Color */
    --Dragnethar-accent: rgb(191, 180, 143);
    --Dragnethar-background: rgb(20, 52, 74);
    --Dragnethar-blue: rgb(0, 19, 46);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: var(--color-palette-black);
    color: var(--color-palette-white);
    font-family: "Poppins";
    font-weight: 400;
    overflow-x: hidden;
}
  
p {
    margin: 0;
    text-align: justify;
}

.is-container {
    min-height: 100vh;
    display: grid;
    justify-items: center;
    align-content: center;
    width: 100%;
}

nav {
    display: flex;
    gap: 10px;
    justify-content: end;
    position: fixed;
    width: 100%;
    background: var(--color-palette-black);
    font-size: calc(1em - 32%);
    z-index: 1;
    padding: 10px
}

.is-navbar-content:hover {
    border-bottom: 2px solid var(--color-palette-orange);
}

.is-navbar-content.active {
    border-bottom: 2px solid var(--color-palette-orange);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent; 
}

::-webkit-scrollbar:hover {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-palette-orange);
    border-radius: 5px;
}

.is-custom-slider-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (min-width: 400px) {
    nav {
        font-size: 1em;
        padding: 0px;
    }

    .is-navbar-content {
        padding: 15px;
    }
}

@media screen and (min-width: 600px) {
    .is-sub-header {
        text-align: center;
    }
}