/* Mobile base */

.is-experiences {
    min-height: 70vh;
    padding: 1rem;
}

.is-coralis-studio {
    padding: 2rem 1rem;
}

.is-dragnethar {
    display: grid;
    padding: 1rem;
    background-color: var(--Dragnethar-background);
    width: 100%;
    border-top: 2px var(--Dragnethar-accent) solid;
    border-bottom: 2px var(--Dragnethar-accent) solid;
    overflow: hidden;
}

.is-dragnethar-header {
    display: grid;
    grid-template-columns: 0.7fr 0.5fr;
    justify-content: space-between;
}

.is-tech-use {
    display: grid;
    grid-template-columns: 0.4fr 0.2fr 0.2fr 0.2fr;
    padding-right: 10px;
    align-items: center;
    justify-items: end;
}


@media screen and (min-width: 1366px) {
    .is-dragnethar-header {
        grid-template-columns: 0.8fr 0.2fr;
    }
}