/* Mobile base */

.is-experiences {
    min-height: 70vh;
    padding: 1rem;
}

.is-coralis-studio {
    padding: 2rem 1rem;
}

.is-dragnethar {
    display: grid;
    padding: 1rem;
    background-color: var(--Dragnethar-background);
    width: 100%;
    border-top: 2px var(--Dragnethar-accent) solid;
    border-bottom: 2px var(--Dragnethar-accent) solid;
    overflow: hidden;
}

.is-dragnethar-header {
    display: grid;
    grid-template-columns: 0.7fr 0.5fr;
    justify-content: space-between;
}

.is-tech-use {
    display: grid;
    grid-template-columns: .5fr .5fr;
    padding-right: 10px;
    align-items: center;
    justify-items: end;
    margin: 10px;
    background: var(--Dragnethar-blue);
    border: 2px solid var(--Dragnethar-accent);
    min-width: 50vw;
}

.is-tech-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

/* Image for showcase */
.is-custom-image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* UI */
.is-player-profile-overhaul {
    background-image: url("../assets/dragnetharExperience/ui/player_profile_overhaul.png");
}

.is-player-setting {
    background-image: url("../assets/dragnetharExperience/ui/player_setting.png");
}

.is-region-overhaul {
    background-image: url("../assets/dragnetharExperience/ui/region_overhaul.png");
}

.is-tavern-overhaul {
    background-image: url("../assets/dragnetharExperience/ui/tavern_overhaul.png");
}

.is-explore-overhaul {
    background-image: url("../assets/dragnetharExperience/ui/exploration_overhaul.png");
}

.is-quest-modal {
    background-image: url("../assets/dragnetharExperience/ui/quest_modal.png");
}

/* party */
.is-party-system {
    background-image: url("../assets/dragnetharExperience/partySystem/Party_System.png");
}
.is-party-explore {
    background-image: url("../assets/dragnetharExperience/partySystem/explore_party.png");
}
.is-party-system {
    background-image: url("../assets/dragnetharExperience/partySystem/Party_System.png");
}
.is-party-combat {
    background-image: url("../assets/dragnetharExperience/partySystem/party_combat.gif");
}

/* qol */
.is-multiple-container {
    background-image: url("../assets/dragnetharExperience/qol/mass_container.png");
}
.is-multiple-salvage {
    background-image: url("../assets/dragnetharExperience/qol/mass_salvage.png");
}
.is-loadout-feature {
    background-image: url("../assets/dragnetharExperience/qol/equipment_loadout.gif");
}
.is-item-lock {
    background-image: url("../assets/dragnetharExperience/qol/item_lock.png");
}

/* Rhunnia */
.is-login-menu {
    background-image: url("../assets/dragnetharExperience/rhunnia/Login_menu.png");
}
.is-main-menu {
    background-image: url("../assets/dragnetharExperience/rhunnia/Main_menu.png");
}
.is-team-management {
    background-image: url("../assets/dragnetharExperience/rhunnia/Team_management.png");
}
.is-combat {
    background-image: url("../assets/dragnetharExperience/rhunnia/Combat.png");
}

/* illus */
.is-rockmucher {
    background-image: url("../assets/dragnetharExperience/illus/Rockmuncher_for_porto.png");
}
.is-magnetic-graunite {
    background-image: url("../assets/dragnetharExperience/illus/Magnetic_graunite_porto.png");
}
.is-thermal-graunite {
    background-image: url("../assets/dragnetharExperience/illus/Thermal_graunite_porto.png");
}
.is-crimson-brew {
    background-image: url("../assets/dragnetharExperience/illus/Crimson_Brew_porto.png");
}

/* others */
.is-artificer {
    background-image: url("../assets/dragnetharExperience/others/artificer_minigame.png");
}

.is-trade-hall {
    background-image: url("../assets/dragnetharExperience/others/tradehall_qol.png");
}

.is-pagination {
    background-image: url("../assets/dragnetharExperience/others/pagination.png");
}

.is-building-buff {
    background-image: url("../assets/dragnetharExperience/others/building_buff.png");
}

.is-custom-slider-container {
    padding: 20px;
}

@media screen and (min-width: 500px) {
    .is-tech-use {
        min-width: 0;
        grid-template-columns: .5fr .5fr;
        justify-items: center;
    }
}

@media screen and (min-width: 1366px) {
    .is-dragnethar-header {
        grid-template-columns: 0.8fr 0.2fr;
    }
    /* party */
    .is-party-combat {
        background-image: url("../assets/dragnetharExperience/partySystem/party_combat.png");
    }
    .is-party-combat:hover {
        background-image: url("../assets/dragnetharExperience/partySystem/party_combat.gif");
    }

    /* qol */
    .is-loadout-feature {
        background-image: url("../assets/dragnetharExperience/qol/equipment_loadout.png");
    }
    .is-loadout-feature:hover {
        background-image: url("../assets/dragnetharExperience/qol/equipment_loadout.gif");
    }
}

@media screen and (min-width: 1744px) {
    .is-custom-slider-container {
        justify-content: center;
        align-items: center;
    }
}