/* Mobile base */

.is-experiences {
    min-height: 70vh;
    padding: 1rem;
}

.is-coralis-studio {
    padding: 1rem;
}

.is-dragnethar {
    padding: 0.5rem;
}

.is-dragnethar-header {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}

.is-tech-use {
    display: grid;
    grid-template-columns: 1fr 0.3fr 0.3fr 0.3fr;
    align-items: center;
}


@media screen and (min-width: 1920px) {
    
}